body{
    padding: 0;
    margin: 0;
    top: 0;
    height: 100%;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #12171a;
}

header{
    background-color: #000000;
    display: flex;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    z-index: 5;
}


aside{
    border: solid;
    border-color: #FFB400;
    width: 290px;
    height: 480px;
    margin-left: 90px;
    margin-right: 11px;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgb(255, 255, 255, 0.1);
}

#filmdir{
    display: flex;
    margin-left: 60px;
}

#resenha{
    margin-left: auto;
    width: 1169px;
    height: auto;
    border-radius: 20px;
    margin-top: 70px;
    background-color: #646161ab;
    padding-bottom: 20px;
    padding-top: 5px;
    box-shadow: 0px 0px 30px rgba(255, 180, 0, 0.3);
    margin-right: auto;
    margin-bottom: 60px;
}

#direção{
    display: flex;
}
