body{
    padding: 0;
    margin: 0;
    top: 0;
    height: 100%;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #12171a;
}

header{
    background-color: #000000;
    display: flex;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    z-index: 5;
}


input{
    border-radius: 20px;
    width: 650px;
    height: 20px;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 0px;
    border-color: #FFB400;
    border-width: 3px;
}

#linha1{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    margin-top: 35px;
}

#quadrado{

    width: 180px;
    height: 380px; /*300px para colocar as img dentro*/
    margin-left: 50px;
}

#filme{
    width: 180px;
    height: 280px; 
    border-radius: 20px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.2);
    transform: scale(1);
    transition: 500ms ease;
    /* max-width: 100%;     o width máximo é 100% */
}

#filme:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}


#linha2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 250px;

}

#tudo{
    display: flex;
}

aside{
    border: solid;
    border-color: #FFB400;
    width: 230px;
    height: 1100px;
    margin-left: 55px;
    margin-top: 70px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
}


#filme2{
    width: 175px;
    height: 260px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.2);
    transform: scale(1);
    transition: 500ms ease;
    margin-bottom: 8px;
    margin-left: 20.5px;
}

#filme2:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}

#quadrado2{

    width: 200px;
    height: 320px; /*300px para colocar as img dentro*/
    margin-left: 20px;
    margin-top: 25px;
}

footer{
    bottom: 0;
    position: fixed;
    background-color: #12171a;
    width: 100%;
    color: white;
    display: flex;
}

#links{
    display: flex;
    align-content: space-around;
    margin-left: 1160px;
    font-size: medium;
    position: absolute;
}